syntax: glob
*/node_modules
/SimpleBotDiscord/config/constants.development.js
/SimpleBotWeb/appsettings.Development.json
*.vs
*.aps
*.[Cc]ache
*.ilk
*.lib
*.log
*.ncb
*.obj
*.pch
*.pdb
*.[Pp]ublish.xml
*.sbr
*.scc
*.suo
*.tlb
*.tlh
*.user
*.vspscc
*.vssscc
*_i.c
*_p.c
PrecompiledWeb/
[Bb]in
[Dd]ebug*/
[Oo]bj/
[Rr]elease*/
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
_[Rr]e[Ss]harper.*/
/.idea/
