@model SimpleBotWeb.Models.Views.Account.AccountForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>@ViewData["Title"]</h1>
            <hr />
            @Html.WriteMessages(TempData)

            <p>Wonderful. Hopefully you can at least remember your email address.</p>

            <form method="post" action="@Url.Action("ForgotPassword", "Account")">
                @Html.AntiForgeryToken()
                <p>
                    <input type="text" class="form-control" name="email" placeholder="Email address" maxlength="50" value="" /><br />
                </p>

                <p>
                    <button type="submit" class="btn btn-primary">Reset password</button>
                </p>
            </form>

        </div>
    </div>
</div>

