@model SimpleBotWeb.Models.Views.Account.AccountResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>@ViewData["Title"]</h1>
            <hr />

            @Html.WriteMessages(TempData)

            @if (Model.KeyIsValid)
            {
                using (Html.BeginForm("ResetPassword", "Account", null, FormMethod.Post, true, new { @class = "form-horizontal" }))
                {

                    @Html.Hidden("MemberId", Model.MemberId)
                    @Html.Hidden("Key", Model.Key)

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="password">New password</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="password" name="password" value="" /><br />
                        </div>
                        <div class="col-sm-3">
                            <div id="pwdWidget"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Reset password</button>
                        </div>
                    </div>

                }
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        document.addEventListener("DOMContentLoaded",
            function(event) {
                $("#pwdWidget").passwordStrength({ input: "#password" });
            });
    </script>
}